{% extends 'aplicacion/base.html' %}
{% load static %}

{% block cabecera %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Listado de Videojuegos</h1>
            <h2 class="masthead-subheading mb-0">¡Los mejores videojuegos!</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Miralos aquí</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock cabecera %}

{% block contenido %}
<section id="scroll">
    <h1>Videojuegos</h1>
    <table class="table">
        <thead>
            <tr> 
                <th>Título</th>
                <th>Director</th>
                <th>Productora</th>
                <th>Género</th>
                <th>Fecha de Estreno</th>
                <th>Cantidad</th>
                <th>Consola</th>
            </tr>
        </thead>
        {% for Videojuegos in videojuegos %}
        <tbody>
            <tr>
                <td>{{ Videojuegos.titulo }}</td>
                <td>{{ Videojuegos.director }}</td>
                <td>{{ Videojuegos.productora }}</td>
                <td>{{ Videojuegos.genero }}</td>
                <td>{{ Videojuegos.fecha_estreno }}</td>
                <td>{{ Videojuegos.cantidad }}</td>
                <td>{{ Videojuegos.consola }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</section>
{% endblock contenido %}
